<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Condition\Combine">
        <plugin name="sales_rule_color_condition" sortOrder="100" type="Vimmi\Conditions\Plugin\SalesRule\Conditions\Combine"/>
    </type>
</config>